<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.oawebmanagement.mapper.DeptMapper">
    <update id="aftertansfercheck" parameterType="com.example.oawebmanagement.pojo.DepartmentTransferRequest">
      <if test="statusOut == 'APPROVED' ">
          UPDATE department_transfer_request
          SET
          status_in = #{statusIn},
          updated_at = #{updatedAt}
          WHERE id = #{id}

      </if>
    </update>

    <update id="doublecheck" parameterType="com.example.oawebmanagement.pojo.DepartmentTransferRequest">
        <if test="statusIn == 'APPROVED'">
            update user
            set department_id = #{targetDepartmentId}
            where user.id = #{userId};
        </if>
    </update>
</mapper>